.conte1{

    width: 100%;

    height: 200px;

    background-color: rgb(138, 177, 164);

text-align: center;
font-size: 40px;
}

.conte2{

    width: 100%;

    height: 200px;
    
    background-color: rgb(123, 179, 179);

}

.conte3{

    width: 100%;

    height: 200px;

    background-color: rgb(98, 163, 141);
}

